In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import matplotlib.pyplot as plt
import warnings

In [24]:
import pandas as pd

# Leer ambas hojas del archivo Excel
df1 = pd.read_excel('data.xlsx', sheet_name='cajeros')  # Reemplaza 'NombreHoja1' con el nombre real de la primera hoja
df2 = pd.read_excel('data.xlsx', sheet_name='Retiros')  # Reemplaza 'NombreHoja2' con el nombre real de la segunda hoja
df_combined = pd.concat([df1, df2], ignore_index=True)

In [13]:
import pandas as pd

# Supongamos que ya tienes el DataFrame 'df'
# Contar el número de días que el cajero puede ser reabastecido
df['Días de Reabastecimiento'] = df[['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo']].sum(axis=1)

# Filtrar cajeros que pueden ser reabastecidos al menos 4 días a la semana
cajeros_reabastecidos = df[df['Días de Reabastecimiento'] >= 4]

# Contar el número de cajeros que cumplen con el criterio
numero_cajeros = cajeros_reabastecidos.shape[0]

print(f"Número de cajeros que pueden ser reabastecidos al menos 4 días a la semana: {numero_cajeros}")

Número de cajeros que pueden ser reabastecidos al menos 4 días a la semana: 212

In [14]:
import pandas as pd

# Supongamos que ya tienes el DataFrame 'df'

# Contar el número de días que el cajero puede ser reabastecido
df['Días de Reabastecimiento'] = df[['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo']].sum(axis=1)

# Aplicar los filtros:
# 1. Reabastecimiento al menos 4 días a la semana
# 2. Al menos uno de los días en fin de semana (Sábado o Domingo)
# 3. No tiene turno de noche
cajeros_filtrados = df[
    (df['Días de Reabastecimiento'] >= 4) &
    ((df['Sábado'] == 1) | (df['Domingo'] == 1)) &
    (df['Turno noche'] == 0)
]

# Contar el número de cajeros que cumplen con todos los criterios
numero_cajeros_filtrados = cajeros_filtrados.shape[0]

print(f"Número de cajeros que pueden ser reabastecidos al menos 4 días a la semana, con al menos un día en fin de semana y sin turno de noche: {numero_cajeros_filtrados}")

Número de cajeros que pueden ser reabastecidos al menos 4 días a la semana, con al menos un día en fin de semana y sin turno de noche: 53

In [23]:
import pandas as pd

# Asegúrate de que la columna 'Hora de la transacción' esté en formato de hora
df_combined['Hora de la transacción'] = pd.to_datetime(df_combined['Hora de la transacción'], format='%H:%M', errors='coerce').dt.time

# Filtrar las transacciones entre las 2:00 y las 2:59
start_time = pd.to_datetime('02:00', format='%H:%M').time()
end_time = pd.to_datetime('02:59', format='%H:%M').time()

# Aplicar el filtro
filtered_df = df_combined[(df_combined['Hora de la transacción'] >= start_time) & (df_combined['Hora de la transacción'] <= end_time)]

# Contar el número de retiros
retiros_count = filtered_df.shape[0]

print(f"Número de retiros entre las 2:00 y las 2:59 de la madrugada: {retiros_count}")

Número de retiros entre las 2:00 y las 2:59 de la madrugada: 4120

In [25]:
df_combined

,Cajero,Coordenada en X,Coordenada en Y,Costo Fijo por Stock Out,Costo Variable por Stock Out,Duración de la recarga [Horas],Lunes,Martes,Miércoles,Jueves,Viernes,Sábado,Domingo,Turno mañana,Turno tarde,Turno noche,Día,Monto,Hora de la transacción
0,Cajero 1,50.0,104.0,0.39,0.04,0.2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,NaN,NaN,NaN
1,Cajero 2,24.0,24.0,0.37,0.02,0.2,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,NaN,NaN,NaN
2,Cajero 3,9.0,48.0,0.44,0.05,0.3,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN
3,Cajero 4,79.0,73.0,0.30,0.05,0.2,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN
4,Cajero 5,13.0,20.0,0.23,0.04,0.3,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98448,Cajero 37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.0,5.04,23:39
98449,Cajero 49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.0,2.60,23:42
98450,Cajero 209,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.0,3.03,23:42
98451,Cajero 173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.0,6.07,23:44
98452,Cajero 160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.0,5.63,23:46

In [26]:
import pandas as pd

# Asegúrate de que la columna 'Hora de la transacción' esté en formato de hora
df_combined['Hora de la transacción'] = pd.to_datetime(df_combined['Hora de la transacción'], format='%H:%M', errors='coerce').dt.time

# Contar el número de transacciones por hora
hora_counts = df_combined['Hora de la transacción'].value_counts()

# Encontrar la hora con más transacciones
hora_max_transacciones = hora_counts.idxmax()
max_transacciones = hora_counts.max()

# Encontrar la hora con menos transacciones
hora_min_transacciones = hora_counts.idxmin()
min_transacciones = hora_counts.min()

print(f"La hora con más transacciones de retiro es {hora_max_transacciones} con {max_transacciones} transacciones.")
print(f"La hora con menos transacciones de retiro es {hora_min_transacciones} con {min_transacciones} transacciones.")

La hora con más transacciones de retiro es 00:02:00 con 91 transacciones.
La hora con menos transacciones de retiro es 00:00:00 con 13 transacciones.